extends layout

block content
  h1 #{question.content}

  form(method='POST' action='/submit')
    div.form-group
      input(type='hidden', name='question', value=question.content)
      input(type='hidden', name='correct_answer', value=question.correct_answer)

      each answer in answers
        label Answer: #{answer} 
        input(type='radio', name='answer', value=answer)
        <br>
      <br>

    if prev
      button.btn.btn-primary(name="back" type='submit' value="back") Back

    button.btn.btn-primary(name="next" type='submit' value="next") Next